.list-margin{margin: 0}
.marginauto{margin: 0 auto}
.width100{width: 100%}
.width50{width: 50%}
.height100{height: 100%}
.content-padAbout{margin:.5rem 0}
.content-martop10{margin-top: .5rem}
.content-martop2{margin-top: .2rem}
.content-martop1{margin-top: .05rem}
.content-marbottom10{margin-bottom: .5rem}
.content-padd20{padding: 1rem 0}
.content-padTwenty{padding: .75rem 0}
.content-padTwentyr{padding-left: .75rem}
.content-boxshow{ box-shadow: 0 0.05rem 0.1rem rgba(0, 0, 0, 0.2);}
.content-boxshow2{box-shadow: 0px -1px 1px #E5E5E5}
.content-boxshow3{box-shadow: 2px 2px 2px #E5E5E5}
.margin20{margin-bottom: 1rem}
.border-radius{border-radius: 3px}
.border-radius5{border-radius:5px}
.min-font{font-size: .6rem}
.fonts{font-size: .6rem}
.font-12{font-size:0.5rem;}
.font-14{font-size: .7rem}
.font-18{font-size: .9rem}
.content-pad2{padding: .2rem 0}
.content-pad5{padding: .5rem 0}
.bordernone{border: none}
.content-pad3{padding: .3rem 0 .3rem 0}
.content-padtb{padding: .5rem 0 0rem 0}
.content-pad10{padding: .75rem 0}
.content-pad20{padding: 1.2rem .8rem}
.content-pad10about{padding:0 .75rem }
.content-pad10about2{padding:0 .5rem }
.content-pad10about1{padding:.2rem 0 }
.content-pad10l{padding: .5rem 0}
.content-pad10lrights{padding: .5rem .75rem .5rem 0}
.content-padt5{padding-top: .5rem}
.content-padb5{padding-bottom: .5rem}
.content-padcen{padding:.5rem .75rem}
.content-padcens{padding:.75rem}
.content-padleft{padding:.75rem 0 .75rem .75rem}
.content-padleftx{padding:0 0 .75rem .75rem}
.content-padleftx2{padding:0 0 0 .75rem}
.content-padlefts{padding:.75rem 0 0 .75rem}
.content-padright{padding:0 .75rem .75rem 0}
.content-padbots{padding-right:.75rem}
.content-padrights{padding-left:0.75rem}
.content-padrights5{padding-left: .5rem}
.content-padt{padding-top:.75rem }
.list-block .projects-bg{background:#f3f3f3;}
.list-block .projects-bg li{background:#fff;}
.display-block{display: block}
.padding5{padding:0.5rem 0}
.padding575{padding:0.5rem .75rem}
.padding5752{padding:0.75rem .75rem .2rem .55rem}
.padding20{padding: 1rem .75rem}
.padding21{padding: 1rem .75rem 0 .75rem}
.padding1{padding:0.1rem 0}
.overflow{overflow: hidden}
.color-bf{color: #BFBFBF}
.color-cfd{color:#00C2FD}
.color-ffb{color: #FF790B}
.bgcolorf3{background:#F3F3F3}
.bgcolor-bf{background: #BFBFBF}
.bgcolor-d3{background: #D3D3D3}
.bgcolor-cfd{background:#00C2FD}
.bgcolor-ffb{background: #FF790B}
.bgcolordf{background: #69D7F8}
.bgcolorff7{background: #FF6767}
.backcfb0{background: #56CFB0}
.bgcolorcfd{background:#00C2FD}
.colorcfb0{color: #56CFB0}
.colorffb{color: #FF8D04}
.colorffc{color: #FFC73F}
.colorfff{color: #fff}
.color-999{color:#999}
.color-666{color:#666}
.color-333{color:#333}
.colorff78{color: #0078FF}
.colorafff{color:#AFAAFF}
.colorcfb{color:#56CFB0}
.clolordff{color:#8DC3FF}
.colorffc{color:#FFC73F}
.a77{color: #A7A7A7}
.clearOverflow{height:3rem}
.border{border: 1px solid #fff}
.borders{border: 1px solid #999}
.border-bottom{border-bottom:1px solid #E5E5E5;}
.border-top{border-top:1px solid #E5E5E5;}
.border-right{border-right:1px solid #E5E5E5;}
.border-right2{border-right:2px solid #E5E5E5;}
.border-left{border-left:1px solid #E5E5E5;}
.bornone{border: none}
.noMargin{ margin: 0}
.backfff{background: #fff}
.margin10{margin: .2rem 0}
.paddingbottom20{padding-bottom:1rem}
.paddAbouts{padding: 0 2rem}
.paddAbout{padding:0 .75rem .75rem .75rem}
.ibox{width: 3rem;height: 3rem;position: relative;}
.ibox img{width:2.5rem;position: absolute;top: 0;left: .2rem;}
.ibox img.aboutus{width:2.3rem;}
.ibox img.security{width: 2.2rem;}
.ibox img.notice{width: 2.2rem;position: absolute;}
.ibox img.announce{width: 2.2rem;position: absolute;}
.text-right{text-align: right}
.text-left{text-align: left}
em{font-style:normal}
.clearFixBox{clear: both;height: .5rem;width: 100%;background: #F3F3F3}
p.margin0{margin: 0}
.relative{position: relative}
.absolute{position: absolute}
.hide{display: none}
.font-weight{font-weight: bold}
input{outline: none}
.margin02{margin-left: .2rem;}
.mb15{margin-bottom: 1.5rem}
.div_lin{width: 1px;height:3rem;background: #666}
.max-font{font-size: 1rem}
.max-font1{font-size: .8rem}
.list-block input[type="text"],
.list-block input[type="password"],
.list-block input[type="search"],
.list-block input[type="email"],
.list-block input[type="tel"],
.list-block input[type="url"],
.list-block input[type="date"],
.list-block input[type="datetime-local"],
.list-block input[type="time"],
.list-block input[type="number"]{
	height:1.5rem;
}
.iptheight{height:2rem}
.left{left:0}
.top{top:0}
.top2{top:.7rem}
.left2{left:4rem}

.left3{left:8rem}
.color3f{color:#fff;border:1px solid #00C2FD}
.color3f:active{color:#fff;border:1px solid #00C2FD}
/*首页*/
.bar .btn-line{line-height: 2.9rem}
.bar .btn-line img{width:5rem}
.bar .btn-line2{line-height: 2rem;color: #FF790B}

.demobox{width:2.3rem;height:2.6rem;margin:0 auto;position: relative;}
.demobox i{font-size: 2rem;position: absolute;left: .1rem;top: -.4rem}
small{text-align: center;display: block;width: 2.8rem;height: 1rem;margin: 0 auto;padding: .25rem 0 0 0}
.index-small-style{text-align: center;display: block;width: 2.8rem;height: 1rem;margin: 0 auto;padding:0;color: #666}
.newBtn{padding: .03rem .25rem;display: inline-block;color: #fff;;text-align: center;font-size: .5rem}
.list-block a.item-link div.content-padr5{padding-right: .75rem}
.speed{width: 100%;height: .4rem;background: #D8D8D8;border-radius: 10px;overflow: hidden}
.timer{width:0%;background: #00C2FD;height: .4rem;border-radius: 10px}
.list-block ul.rightmenu li a{display:block;width:100%}
#ptgg{width: 10rem;display: inline-block;white-space:nowrap; overflow:hidden; text-overflow:ellipsis}
/*详情页*/
.item-inners{width: 100%;padding-top: 0.75rem;padding-bottom: 0.45rem; -webkit-align-self: stretch;align-self: stretch;}
.list-block  .max-font{font-size: 1rem}
.item-content .min-font{font-size: .6rem}
.list-block div.colorfff{color: #fff}
.contentf{bottom:3.2rem}
.bar .top0{top: 0}
.list-block.media-list .item-inner{padding-top: 0.4rem}
.posright{position:absolute;right:.75rem;top:.5rem}
/*投标页*/

.list-block .padding00{padding: 0}
.span_absolute{right: 2.5rem;top: .6rem;}
/*用户中心页*/
.setauto{height: 2rem;}
.list-block.media-list .padding30{padding:1.5rem .75rem}
.list-block .maxs-font{font-size: 2rem}
.divBox{width: 2rem;height:2rem;margin:.5rem auto;position: relative}
.divBox i{font-size: 1.5rem}
.paddings20{padding:.25rem 0 .5rem 0}
.margin05{margin-left: .3rem;}
.margin1eft5{margin-left: .5rem;}
.margin01{margin-top: .1rem}
.border-radius{border-radius: 2rem}
.redPackage{
    position: relative;
    display: block;
    align-self: stretch;
    background-image: url("../src/assets/i-list-chevron-right.png");
    background-size: 0.7rem;
    background-repeat: no-repeat;
    background-position: 97% center;
    background-position: -webkit-calc(100% - .75rem) center;
    background-position: calc(100% - .75rem) center;
}
/*vip*/
.vip{display: inline-block;height:1rem;width:1.8rem;line-height: 1rem;border-radius: 5px;color: #fff }
.vipActive{background:#FF790B;}
.vipDisable{background:#e5e5e5;}
.f-style{width:100%;top:2rem;left:0;z-index:1000;padding:0 .5rem}
.j-style{margin:0 auto;font-size:.75rem}
.jf-style{margin:0 auto;height:auto;padding:.5rem;overflow:hidden;color:#000;border-radius:.5rem;border:1px solid #FF790B;}
/*明细页*/
.term{height: 2.2rem;line-height: 2.2rem}
.checkCode{width: 10rem;}
.checkCodes{width: 6.2rem;}
/*添加银行卡*/
.addbank{height:6rem;}
.addbanktext{width: 50%;line-height:6rem}
.bottext{width: 50%;}
.bank_logo{font-size: 2.5rem;float: left; color: #fff; margin-left:1.5rem ;}
.list-block .bankSelect{line-height: 2.4rem;height: 2.2rem;display: inline-block}
.bankName{height:2.2rem;line-height: 2.2rem;}
.minbank_logo{font-size: 1rem;float: left; color: #666;margin-right: .2rem }
.bank-line-height{line-height: 1.5rem}
.margin12{margin:1.2rem .75rem}
.bankmarginl{margin-left: .75rem}
i.baozhang{font-size: .9rem;margin-right: .2rem;position: relative;top: .1rem}
.small-style{display:inline-block;font-size:.7rem;padding: .25rem 0.25rem 0 0;width:auto}
/*login*/
.imgbox{width: 5rem;height: 5rem;position: relative}
.imgbox i{font-size:5rem;position: absolute;top: -1.3rem;}
.imgboxpad{padding:2rem 2rem 1rem 2rem}
/*右菜单*/
.right-log{height: 2.2rem;padding:0 2.2rem;line-height: 2.2rem;color: #fff;background: #000 }
.list-block ul.rightmenu{background: #444}
.rightmenu li{padding:.8rem 2.2rem;}
.rightmenu li a{color: #B2B2B2}
/*modal*/
.modals{
    position: fixed;
    z-index: 10000;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: .5;
}
.modal2 {
    width: 15.5rem;
    position: absolute;
    z-index: 11000;
    left: 50%;
    margin-left: -7.75rem;
    margin-top: 0;
    top: 20%;
    /*text-align: center;*/
    border-radius: 0.35rem;
    /*opacity: 1;*/
    /*-webkit-transform: translate3d(0, 0, 0) scale(1.185);*/
    /*transform: translate3d(0, 0, 0) scale(1.185);*/
    /*-webkit-transition-property: -webkit-transform, opacity;*/
    /*transition-property: transform, opacity;*/
    color: #3d4145;
    background: #fff;
    /*display: none;*/
}
/*获取验证码*/
.checkDiv{height: 2.4rem;line-height: 2.4rem;text-align: center}
.inputstyle{width: 7rem;padding-left:.5rem }
.addColorbtn {background:#D3D3D3;color: #fff;}
.iconfonts{font-size:1.5rem}

.list-block input[type="text"].codes{width:50%;}
/*设置登录、交易密码*/
.formTitle{padding:0 0.75rem;line-height:3em;border-bottom:1px solid #ccc;}
.submit_box{position:relative;}
.plate{width:100%;height:100%;position:absolute;left:0;top:0;}

/*邀请*/
.invitImg{position: fixed;top: 0;left: 0;z-index: 100000000}

@media screen and (max-width: 360px) {
   .col-40{white-space:nowrap; overflow:hidden; text-overflow:ellipsis}
   .col-60{white-space:nowrap; overflow:hidden; text-overflow:ellipsis}
}
/**银行背景色调**/
.red_tone{background:#ff6666}
.green_tone{background:#008c77}
.blue_tone{background:#1a65a3}
.purple_tone{background:#7b3bb5}
.orange_tone{background:#ea5404}

.modal-select{width:100%;height:1.5rem;border-radius:.25rem;font-size:.7rem;}

/**app下载**/
.app_load{width:100%;height:auto;position:relative;}
.app_load img{width:100%;vertical-align:bottom;}
.load{position:absolute;width:40%;right:10%;bottom:7.5%;}
.load .button{margin:0.8rem 0;height:2rem;color:#333;border-color:#333;font-size:0.7rem;line-height:1.9rem;}
.load .button.disabled{background:#999;}
.load .button i {width:1rem;height:1rem;background-size:1rem 1rem;margin:0.4rem 0.1rem 0 0;}
.android{background:url(../src/assets/android.png) center no-repeat;}
.apple{background:url(../src/assets/apple.png) center no-repeat;}
.indexapplod{bottom:0;z-index:1000;width:100%;background:rgba(0,0,0,0.6);height:2.5rem;padding:.2rem 0;}
.applogo{float:left;}
.apptext{line-height:2.3rem;color:#fff;font-size:.8rem;margin-left:.5rem}
.apploada{background:#FF790B;padding:.2rem .5rem;color:#fff;font-size:.6rem;border-radius:.3rem;margin-top:.4rem}
.appclose{width:1.2rem;height:1.2rem;margin-top:.5rem;margin-right:.7rem;color:#fff;border-radius:100%;background:#000;font-size:.5rem;text-align:center;line-height:1.2rem}

/**梦想计划**/
.set_title{height:2.2rem;padding:.8rem .5rem 0;line-height:1.4rem;}
.set_title p{margin:0;font-size:.8rem;}
.set_title i{width:1.4rem;height:1.4rem;display:inline-block;background:center/1.1rem no-repeat;float:left;margin-right:.4rem;}
.set_title .magic{background-image:url(../src/assets/dream_icon.png);}
.set_title .coin{background-image:url(../src/assets/coin_icon.png);}
.set_title a{font-size:.7rem;}
.set_content{padding:.5rem .7rem 0;}
.set_content textarea,.set_content input{width:100%;border-radius:6px;padding:.5rem;border:1px solid #ccc;}
.set_content input{padding:.1rem .5rem;height:2rem;}
.rela{position:relative;}
.abso{position:absolute;}
.yen{right:1.5rem;top:.9rem;}
.day_need{margin:.4rem 0 0;font-size:.7rem;}
.set_submit{padding:0 2.4rem;margin:1rem 0;}
.help_p{margin:0 .7rem;padding:.8rem;font-size:.6rem;background:#e5e5e5;}

.set_title.show{height:2.4rem;padding:.5rem;line-height:1.4rem;background:#fff;border-bottom:1px solid #e5e5e5;}
.set_title.show:first-of-type{margin-top:1.2rem;}
.speed_box{padding:1rem .7rem;margin-top:.6rem;background:#fff;height:3.5rem;border-top:1px solid #e5e5e5;}
.attend_p{padding:0 .7rem;font-size:.6rem;}
.set_title .words{width:40%;white-space:nowrap;overflow:hidden;margin-left:2rem;}
.done{background:rgba(0,0,0,.4);width:100%;height:100%;position:fixed;left:0;top:0;z-index:10;display:none;}
.done img{max-width:100%;margin-top:20%;}
/*加息卷*/
.dendpadding{padding: .5rem 3rem}
.dendmargin{margin:.5rem 0}

.jx-style{width: 100%;height: 4.5rem;margin-bottom: .5rem}
/*已使用*/
.jx-style2{background: url("../src/assets/jxysy.jpg") top right no-repeat;width: 3rem; height: 4.5rem;;background-size: 100% }
/*已过期*/
.jx-style-gq{background: url("../src/assets/jxgq.jpg") top right no-repeat;width: 3rem; height: 4.5rem;;background-size: 100% }
.jxactive{width: 3rem; height: 4.5rem;}
.jx-style3{background: url("../src/assets/check1.jpg") top right no-repeat;background-size: 100% }
.jx-style4{background: url("../src/assets/check2.jpg") top right no-repeat;background-size: 100% }
.jx-style5{background: url("../src/assets/check3.jpg") top right no-repeat;background-size: 100% }
i.jx{ font-style:normal;width: 5rem;height:4.5rem;display: inline-block;text-align: center;line-height:4.5rem;font-size: 1.2rem;color: #fff}
i.jx1{background: url("../src/assets/jx1.jpg") center no-repeat;background-size: 100% }
i.jx2{background: url("../src/assets/jx2.jpg") center no-repeat;background-size: 100%}
i.jx3{background: url("../src/assets/jx3.jpg") center no-repeat;background-size: 100%}
i.jx4{background: url("../src/assets/jxsx.jpg") center no-repeat;background-size: 100%}
.content-padt2{padding-top: .2rem; }
/*新手任务邀请*/
        .main{width: 100%;max-width: 650px;margin: 0 auto;min-width: 375px;}
        .main img{width: 100%;margin: 0;padding: 0;vertical-align:bottom;}
       .copybox{width: 100%;height: auto;background: url("../src/assets/regline.png") repeat-y;background-size: 100%}
        .copy{padding:2rem 2rem;}
        .minbox{padding: .5rem;height: auto;border: 1px solid #fa6d01;background: #fee2cc;border-radius: .3rem}
        .minbox textarea{width: 100%;height: auto;}
        .text-center{text-align: center}
        h4{color: #333;font-size: .6rem;font-weight: normal}
        .urlbox{width: 80%; word-wrap: break-word;;background: #fc9c52;color: #fff;margin: 0 auto;padding:.5rem;border-radius: .3rem;font-size: .6rem}
        .copy_button{font-size: .7rem;width: 5rem;height: 1.8rem;background: #fa6d01;color: #fff;margin:  .4rem auto;text-align: center;line-height: 1.8rem;border-radius: .4rem}
        .tablebox{width: 100%;height:auto;background: url("../src/assets/regline.png") repeat-y;background-size: 100%}
        .borderdius{width: 80%;margin:0 auto;border: 1px solid #fa6d01;border-radius:.3rem;overflow: hidden}
        .tablebox table{width: 100%;color: #333;text-align: center;background: #fee2cc}
        .tablebox table tr th{height: 2.8rem;;font-weight: normal;font-size:.8rem}
        .tablebox table tr td{height: 2rem;font-size:.6rem}
        .tableColor{background: #feb37a}